@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #0D0D11; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  z-index: 999;
}

.home{
    font-weight: 800;
  font-size: 2.1rem;
  letter-spacing: 1px;
   font-family: "Archivo Black", sans-serif;
 
}
.navbar a {
  color: var(--text-color);
  transition: 0.2s ease;
}

.navbar a:hover {
  color: var(--accent-color);
  transform: scale(1.05);
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 40px;
  height: 60px;
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.left {
  flex-shrink: 0; 

}

.right {
  display: flex;
  gap: 43px;
  align-items: center;
   margin:100px;
}


