@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #0D0D11; 
  color: white;
  font-family: 'Poppins', sans-serif;
}
.right-glow {
  position: fixed;
  top: 40%;
  right: -150px;
  width: 600px;
  height: 600px;
  
  background: radial-gradient(circle, rgba(8, 8, 9, 0.715), transparent 70%);
  filter: blur(120px);
  z-index: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


body::before {
  content: '';
  position: fixed;
  top: 20%;
  right: -10%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(238, 142, 74, 0.633), transparent 70%);
  z-index: 0;
  filter: blur(80px);
}
.blob-left {
  position: fixed;
  bottom: 20%;
  left: -100px;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #101f2a90, transparent);
  filter: blur(100px);
  z-index: 0;
  pointer-events: none;
}
.app {
  position: relative;
  z-index: 1; }


html {
  scroll-behavior: smooth;
}
@keyframes slow-float {
  0% { transform: translateY(0); }
  50% { transform: translateY(30px); }
  100% { transform: translateY(0); }
}

.right-glow {
  animation: slow-float 15s ease-in-out infinite;
}

@media (max-width: 768px) {
  section {
    padding: 2rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
